{% extends 'base.html.twig' %}
{% form_theme articleForm 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <h1>
        {% if edit %}
            Edition d'un article existant
        {% else %}
            Création d'un article
        {% endif %}
    </h1>
    {{ form_start(articleForm) }}
        {{ form_errors(articleForm) }}
        {{ form_row(articleForm.title, {'label': 'Titre'}) }}
        {{ form_row(articleForm.content, {'label': 'Contenu'}) }}
        {{ form_row(articleForm.image, {'label': 'Image'}) }}
        {{ form_row(articleForm.author, {'label': 'Auteur'}) }}
        {{ form_row(articleForm.category, {'label': 'Catégorie'}) }}
        {% if edit %}
            {{ form_row(articleForm.submit, {'label': 'Editer l\'article'}) }}
        {% else %}
            {{ form_row(articleForm.submit, {'label': 'Créer un article'}) }}
        {% endif %}
        
    {{ form_end(articleForm) }}
{% endblock %}